<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PORTAFOLIO</title>
  <link rel="stylesheet" href="app.component.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <header class="header">
    <a href="#home" class="logo"><span>Joel Alvarez</span></a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
      <a href="#home" class="logo"><span>Inicio</span></a>
      <a href="#education" class="logo"><span>Educación</span></a>
      <a href="#skills" class="logo"><span>Skills</span></a>
      <a href="#certificado" class="logo"><span>Certificados</span></a>
      <a href="#sobremi" class="logo"><span>Ubicacion</span></a>
    </nav>
  </header>

  <section class="home" id="home">
    <div class="home-content">
      <h1>Hola, Soy<span>Joel Alvarez</span></h1>
      <h3 class="text-animation"> Y soy un diseñador web</h3>
      <p>Soy un diseñador web junior, un profesional que se encuentra en las primeras etapas de su carrera, especializado en crear y mantener la apariencia visual de sitios web. Normalmente trabajo con herramientas de diseño como Adobe XD, Figma o Sketch, y tengo conocimientos básicos de HTML, CSS y, en ocasiones, JavaScript para implementar los diseños
      <div class="social-icons">
        <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/"><i class='bx bxl-github'></i></a>
        <a href="https://www.instagram.com/"><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://www.facebook.com/"><i class='bx bxl-facebook'></i></a>
      </div>

      <div class="btn-group">
        <a href="#hire" class="btn">Contratar</a>
        <a href="#contact" class="btn">Contacto</a>
      </div>
    </div>
    <div class="home-img" >
      <img src="/img/k.png" alt="">
    </div>
  </section>

  <section class="education" id="education">
    <h2 class="heading">Educación</h2>

    <div class="timeline-items">

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2022</div>
        <div class="timeline-content">
          <h3><span>Escuela Media</span></h3>
          <p>Me gradué de la escuela secundaria en el Joaquin Ochoa Maestre en el año 2022, cuando tenía 16 años. Fue un logro muy importante
            para mi vida y desde entonces he seguido enfocado en mis estudios y desarrollo profesional en el mundo de la
            programacion.</p>
        </div>

      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2023</div>
        <div class="timeline-content">
          <h3><span>Centro Biotegnologico Del Caribe Sena</span></h3>
          <p>Actualmente soy aprendiz de Análisis y Desarrollo de Software (ADSO) en el Centro Biotecnológico del Caribe
            del SENA.
            Comencé este programa en 2023 y lo finalizaré en 2024. A lo largo de este tiempo, he estado perfeccionando
            mis
            habilidades en análisis, diseño y desarrollo de software, preparándome para enfrentar desafíos en el campo
            tecnológico.</p>
        </div>

      </div>

      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2024</div>
        <div class="timeline-content">
          <h3><span>Etapa Practica</span></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, sed, quasi voluptatibus impedit voluptas
            deserunt asperiores libero aspernatur enim laborum maiores quo aliquam quia neque ratione eligendi itaque,
            dolore nobis.</p>
        </div>

      </div>

      <div class="timeline-item">
        <div class="timeline-dot"> </div>
        <div class="timeline-date">2025</div>
        <div class="timeline-content">
          <h3><span>Mi Primera Chamba</span></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, sed, quasi voluptatibus impedit voluptas
            deserunt asperiores libero aspernatur enim laborum maiores quo aliquam quia neque ratione eligendi itaque,
            dolore nobis.</p>
        </div>

      </div>
    </div>
  </section>
  <!-- SECCION SKILLS -->
  <section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2 class="heading">Skills</h2>
        <div class="fila">
            <!-- Technical Skill -->
            <div class="col">
                <h3>Technical Skills</h3>
                <div class="skill">
                    <h1><span>Javascript</span></h1><br>
                    <div class="barra-skill">
                        <div class="progreso javascript">
                            <span>10%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <h1><span>HTML & CSS</span></h1><br>
                    <div class="barra-skill">
                        <div class="progreso htmlcss">
                            <span>100%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                   <h1> <span>Photoshop</span></h1><br>
                    <div class="barra-skill">
                        <div class="progreso photoshop">
                            <span>95%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                   <h1> <span>Wordpress</span></h1> <br>
                    <div class="barra-skill">
                        <div class="progreso wordpress">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                   <h1> <span>Drupa</span> </h1> <br>
                    <div class="barra-skill">
                        <div class="progreso drupal">
                            <span>55%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Professional Skills -->
            <div class="col">
                <h3>Professional Skills</h3><br>
                <div class="skill">
                 <h1>   <span>Comunicación</span></h1>
                    <div class="barra-skill">
                        <div class="progreso comunicacion">
                            <span>80%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                   <h1> <span>Trabajo en Equipo</span></h1><br>
                    <div class="barra-skill">
                        <div class="progreso trabajo">
                            <span>95%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                  <h1>  <span>Creatividad</span></h1><br>
                    <div class="barra-skill">
                        <div class="progreso creatividad">
                            <span>99%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                   <h1> <span>Dedicación</span> </h1><br>
                    <div class="barra-skill">
                        <div class="progreso dedicacion">
                            <span>100%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                   <h1> <span>Proyect Management</span></h1><br>
                    <div class="barra-skill">
                        <div class="progreso proyect">
                            <span>94%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="certificado" id="certificado">
  <h2 class="heading"><span>Certificados</span></h2><br><br>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="/img/j.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/img/l.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/img/q.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/img/r.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
<br><br>
 <!-- SECCION SOBRE MI -->
 <section id="sobremi" class="sobremi">
  <div class="contenido-seccion">
    <h2 class="heading">Ubicacion</h2>
    <div class="fila">
      <div class="texto">
      
        <!-- Aquí va tu contenido de texto o datos personales -->
        <!-- Agrega más información aquí -->
      </div>
      <img src="/img/m.png" alt="" width="1100px" height="700px">
    </div>
  </div>
</section>
</section>

  <footer class="footer">
    <div class="social">
      <a href="https://www.linkedin.com/home"><i class='bx bxl-linkedin'></i></a>
      <a href="https://github.com/"><i class='bx bxl-github'></i></a>
      <a href="https://www.instagram.com/"><i class='bx bxl-instagram-alt'></i></a>
      <a href="https://www.facebook.com/"><i class='bx bxl-facebook'></i></a>
    </div>

    <ul class="list">
      <li>
        <a href="#">Preguntas frecuentes</a>
      </li>

      <li>
        <a href="#">servicios</a>
      </li>

      <li>
        <a href="#">Acerca de mí</a>
      </li>

      <li>
        <a href="#">Contacto</a>
      </li>

      <li>
        <a href="#"></a>
      </li>
    </ul>
    <p class="copyright">
      © Joel Alvarez | Reservados todos los derechos
    </p>
  </footer>

  <Script src="app.component.js"></Script>
</body>

</html>
